.header {
  width: calc(100% + 40px);
  background-color: $header-background;
  color: $basic-white;
  align-items: center;
  border-top: 1px solid $basic-border;
  border-bottom: 1px solid $basic-border;
  margin: 0 -20px;
  padding: 0 20px;

  @media (#{$screen-tablet}) {
    width: calc(100% + 60px);
    margin: 0 -30px;
    padding: 0 30px;
  }

  @media (#{$screen-desktop}) {
    width: calc(100% + 220px);
    margin: 0 -110px;
    padding: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  //@media (#{$screen-4k}) {
  //  width: calc(100% + 860px);
  //  margin: 0 -430px;
  //  padding: 0 430px;
  //}
}

.header__wrapper {
  display: block;


  @media (#{$screen-tablet}) {
    display: flex;
    flex-direction: column;
  }

  @media (#{$screen-desktop}) {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    max-width: calc(1440px - 225px);
    margin: 0 auto;
    padding: 0 50px 0 0;
  }
}
