.main {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px 0 0 0;
  align-items: center;
  max-width: 320px;

  @media (#{$screen-tablet}) {
    max-width: 768px;
  }

  @media (#{$screen-desktop}) {
    padding: 180px 110px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1440px;
    max-width: 1440px;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 467px;
      left: 289px;
      width: 100px;
      height: 2px;
      background: linear-gradient(to right, transparent, $special-white);
      transform: rotate(28deg);
    }
  }
}

.main__title {
  font-family: "MuseoSansCyrl", "Arial", sans-serif;
  font-size: 30px;
  line-height: 25px;
  text-transform: uppercase;
  margin: 70px 0 0 0;
  padding: 0;
  background: linear-gradient(to right, $basic-white 0, $star-orange 450px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (#{$screen-tablet}) {
    font-size: 58px;
    line-height: 44px;
    margin: 20px 0 0 0;
  }

  @media (#{$screen-desktop}) {
    grid-row: 1 / 2;
    grid-column: 1;
    flex-basis: 100%;
    margin: -120px 0 0 0;
    padding: 0;
  }
}

.main__title-small {
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-transform: lowercase;
  margin: 5px 0 0 0;

  @media (#{$screen-tablet}) {
    font-size: 25px;
    line-height: 30px;
    margin: 13px 0 0 0;
  }
}

.main__advantages {
  @media (#{$screen-desktop}) {
    grid-column: 2;
  }
}

.main__planet {
  @media (#{$screen-desktop}) {
    display: block;
    width: 675px;
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    clip-path: none;
    clip: unset;
  }

  & img {
    width: 386px;
    margin: 0 auto;
  }

  &:before {
    @media (#{$screen-desktop}) {
      content: "";
      display: block;
      position: absolute;
      top: 310px;
      left: 0;
      right: calc(0px + 4px);
      margin: 0 auto;
      width: 5px;
      height: 5px;
      border: 1px solid $basic-white;
      border-radius: 50%;
    }
  }

  &:after {
    @media (#{$screen-desktop}) {
      content: "";
      display: block;
      position: absolute;
      top: 311px;
      right: 342px;
      width: 332px;
      height: 2px;
      background: linear-gradient(to right, $special-white, $basic-white);
    }
  }
}

.main__start {
  @media (#{$screen-desktop}) {
    grid-column: 1;
    grid-row: 1 / 2;
  }
}
