.page {
  width: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background:
    fixed url("/../img/space-star-wallpaper.png") repeat center,
    url("/../img/mars-kosmos-korabl.jpg") no-repeat center 220px,
    fixed url("/../img/background-pattern.jpg") repeat;
  background-size: auto;
  height: 802px;

  @media (#{$screen-tablet}) {
    min-width: 768px;
    background:
      fixed url("/../img/space-star-wallpaper.png") repeat center,
      fixed url("/../img/mars-kosmos-korabl.jpg") no-repeat center 175px,
      fixed url("/../img/background-pattern.jpg") repeat;
    background-size: auto;
  }

  @media (#{$screen-desktop}) {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 1440px;
    background:
      fixed url("/../img/space-star-wallpaper.png") repeat center,
      fixed url("/../img/mars-kosmos-korabl.jpg") no-repeat center 145px,
      fixed url("/../img/background-pattern.jpg") repeat;
    background-size: auto;
  }
}
