@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}


@mixin font ($fsz: 14px, $lh: 18px) {
  font-size: $fsz;
  line-height: $lh;
}

@mixin fieldset-reset {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}
