$basic-white: #ffffff;
$basic-gray: #808080;
$special-white: rgba(255, 255, 255, 0.4);
$dark-white: rgba(255, 255, 255, 0.2);
$transparent-white: rgba(255, 255, 255, 0.6);
$header-background: rgba(21, 10, 1, 0.5);
$star-orange: #ff4005;
$basic-border: #3d3d3d;
$special-border: #3969a6;
$special-border-dark: #0b1f2d;

$basic-text: "MuseoSansCyrl", "Arial", sans-serif;

$screen-mobile: "min-width: 320px";
$screen-retina: "min-resolution: 2dppx";
$screen-tablet: "min-width: 768px";
$screen-desktop: "min-width: 1440px";
$screen-4k: "min-width: 2560px";
